<div class="modal-body">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-between">
                        <span>Post KM Article</span>
                        <i class="far fa-times-circle" (click)="goToDashboard()"></i>

                    </h5>
                    <div class="row">
                        <div class="col-md-9">
                            <label for="exampleInputEmail1">Title</label>
                            <input type="text" class="form-control" placeholder="">
                        </div>
                        <div class="col-md-3">
                            <label for="exampleInputEmail1">Category</label>
                            <select class="form-control" placeholder="">
                                <option value="">Select Category</option>
                                <option value="js">Javascript</option>
                                <option value="nodejs">NodeJS</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                           <label for="exampleInputEmail1">URL (Link to KM article)</label>
                            <input type="text" class="form-control" placeholder="Enter the KM link">     
                        </div>
                    </div>
                     <br>
                    <div class="row">
                        <div class="col">
                           <label for="exampleInputEmail1">Description </label>
                            <textarea type="text" class="form-control" placeholder="Enter the hyperlink"> </textarea>   
                        </div>
                    </div>
                     <br>
                    <button type="button" class="btn btn-primary btn-lg btn-block">Publish KM Article</button>
                </div>
            </div>
        </div>
    </div>
</div>