<div class="modal-body">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-between">
                        <span>Post News / Article</span>
                        <i class="far fa-times-circle" (click)="goToDashboard()"></i>

                    </h5>
                    <div class="row">
                        <div class="col">
                            <label for="exampleInputEmail1">Title</label>
                            <input type="text" class="form-control" placeholder="" [(ngModel)]="post.title">
                            <br>
                            <label for="exampleInputEmail1">Category</label>
                            <select class="form-control" placeholder="" [(ngModel)]="post.category">
                                <option value="">Select Category</option>
                                <option value="js">Javascript</option>
                                <option value="nodejs">NodeJS</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1">Description</label>
                            <textarea style="height: 125px;" class="form-control" placeholder="" [(ngModel)]="post.description"></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <div id="ed" (onComplete)="onComplate($event)" appEditorMd [editorConfig]="conf"></div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="createPost()">Publish Post
                        <img *ngIf="loading" class="loading-img" src="assets/loading.gif"/>
                   </button>
                </div>
            </div>
        </div>
    </div>
</div>