

<div class="list-group" *ngFor="let post of list " >
    <a [routerLink]="" [ngClass]="{'active': post.active}" class="list-group-item list-group-item-action flex-column align-items-start"
        (click)="selectePost(post)">

        <div class="d-flex w-100 justify-content-between">
            <a [routerLink]="">
                <b>{{post.title}}</b>
            </a>
        </div>
<!--         <div *ngIf="post.category" class="list-icon">
            <img *ngIf="post.category == 'js'" src="assets/js-logo.png" />
            <img *ngIf="post.category == 'nodejs'" src="assets/nodejs-logo.jpg" />
        </div> -->
        <p class="mb-1 post-description">{{post.description}}</p>
        <div class="d-flex w-100 justify-content-between">
            <label>By : {{post.publisherId.name}}</label>
            <a [routerLink]="">Read more...</a>
        </div>
    </a>
</div>

