<div class="modal-body">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-between">
                        <span>Post News / Article</span>
                        <i class="far fa-times-circle" (click)="goToDashboard()"></i>

                    </h5>
                    <form #postForm="ngForm">
                        <div class="row">
                            <div class="col">
                                <label for="exampleInputEmail1">Title</label>
                                <input type="text" class="form-control" name="titleFld" #titleFld="ngModel" placeholder="" [(ngModel)]="post.title" required>
                                <div [hidden]="titleFld.untouched && titleFld.invalid && titleFld.pristine || titleFld.touched && titleFld.dirty && titleFld.valid">
                                    <div class="text-danger" [hidden]="!titleFld.hasError('required')">* Title is required</div>
                                </div>
                                <br>
                                <label for="exampleInputEmail1">Category</label>
                                <select class="form-control" placeholder="" name="category" #category="ngModel" [(ngModel)]="post.category" required>
                                    <option value="">Select Category</option>
                                    <option value="js">Javascript</option>
                                    <option value="nodejs">NodeJS</option>
                                </select>
                                <div [hidden]="category.untouched && category.invalid && category.pristine || category.touched && category.dirty && category.valid">
                                    <div class="text-danger" [hidden]="!category.hasError('required')">* Category is required</div>
                                </div>
                            </div>
                            <div class="col">
                                <label for="exampleInputEmail1">Description</label>
                                <textarea name="description" style="height: 125px;" class="form-control" placeholder="" name="desc" #desc="ngModel" [(ngModel)]="post.description"
                                    required></textarea>
                                <div [hidden]="desc.untouched && desc.invalid && desc.pristine || desc.touched && desc.dirty && desc.valid">
                                    <div class="text-danger" [hidden]="!desc.hasError('required')">* Description is required</div>
                                </div>
                            </div>
                        </div>

                        <br>
                        <div class="row">
                            <div class="col">
                                <div id="ed" (onComplete)="onComplate($event)" appEditorMd [editorConfig]="conf"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div *ngIf="success" class="p-3 mb-2 bg-success text-white animated bounceIn status-msg">
                                    <i class="fa fa-smile"></i>
                                    <div class="msg-area d-flex w-100 justify-content-between">
                                        <span>Good Job !! Successfully published article</span>
                                        <a class="msg-dismiss" (click)="closeMsg()">Dismiss</a>
                                    </div>
                                </div>
                                <div *ngIf="failure" class="p-3 mb-2 bg-danger text-white animated bounceIn status-msg">
                                    <i class="fa fa-frown"></i>
                                    <div class="msg-area d-flex w-100 justify-content-between">
                                        <span>Oops !! Something went wrong. Try again !!</span>
                                        <a class="msg-dismiss" (click)="closeMsg()">Dismiss</a>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary btn-lg btn-block" (click)="createPost(postForm)" [disabled]="!postForm.form.valid">Publish Post
                                    <img *ngIf="loading" class="loading-img" src="assets/loading.gif" />
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>