<div class="row">
    <nav class="col-md-3 d-none d-md-block left-sidebar pr-md-2">
        <!--                 <div class="reports-grid">
                <ul class="row">
                    <li class="col-md-6">
                        <h4>Analytics</h4>
                        <a class="btn btn-primary btn-sm" (click)="viewAnalytics()">View</a>
                    </li>
                    <li class="col-md-6">
                        <h4>JS session</h4>
                        <a href="sessions/js" target="_blank" class="btn btn-primary btn-sm">View</a>
                    </li>
                    <li class="col-md-6">
                        <h4>NodeJS session</h4>
                        <a href="sessions/nodejs" target="_blank" class="btn btn-primary btn-sm">View</a>
                    </li>
                    <li class="col-md-6">
                        <h4>Performance Report</h4>
                        <a href="reports/performance" target="_blank" class="btn btn-primary btn-sm">View</a>
                    </li>
                </ul>

            </div> -->

        <div class="card">
            <h5 class="card-header">Updates
                <button class="btn btn-sm btn-primary float-right" (click)="openPostModal()">Add Update</button>
            </h5>
            <div class="card-body">
                <post-list [list]="posts" (onItemSelect)="viewPost($event)"></post-list>
            </div>
        </div>

        <!--                 <div class="d-flex w-100 justify-content-between sticky-header">
                <h5 class="mb-0">Updates</h5>
                <button class="btn btn-sm btn-primary" (click)="openPostModal()">Add Update</button>
            </div>
            <div class="sidebar-sticky left-sticky">
                <post-list [list]="posts" (onItemSelect)="viewPost($event)"></post-list>
            </div> -->
    </nav>
    <main role="main" class="col-md-7 pt-3 px-4 offset-md-3 pl-md-0 pr-md-2 pt-md-0">
        <div class="row ml-md-0 mr-md-0">
            <div class="col-md-8 pl-md-0 pr-md-0 grid-block-1">
                    <img class="d-block w-100" src="assets/bc.png" alt="First slide">
                    <div class="banner-soon">
                        <h3>Experience Blockchain</h3>
                        <p>An interactive way to experience and learn blockchain technology, with a live application at your hand.</p>
                        <h5>Coming Soon...</h5>
                    </div>
            </div>
            <div class="col-md-4 pr-md-0">
                    <div class="row">
                        <div class="col-md-12 grid-block-2">
                                <div class="card bg-dark text-white">
                                        <img src="assets/banner-quiz.png" class="card-img" alt="...">
                                        <div class="card-img-overlay">
                                                <button class="btn btn-block btn-lg btn-danger" routerLink="/quiz" style="margin-top: 100px;opacity:1;" disabled>
                                                    Take Quiz
                                                </button>
                                        </div>
                                      </div>
                        </div>
                        <div class="col-md-12 grid-block-2">
                                <div class="card bg-dark text-white">
                                        <img src="assets/training.png" class="card-img" alt="...">
                                        <div class="card-img-overlay">
                                                <button class="btn btn-block btn-lg btn-danger" (click)="register()" style="margin-top: 100px;opacity:1" disabled>
                                                        REGISTER FOR SESSIONS
                                                    </button>
                                        </div>
                                      </div>
                        </div>
                    </div>
            </div>
        </div>
<!--         <div id="carouselExampleIndicators" class="carousel slide col-md-12 px-md-0" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>

            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="assets/bc.png" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="assets/bc2.png" alt="Second slide">
                </div>
            </div>
        </div> -->
        <br>
        <!-- <div class="row"> -->
            <div class="col-md-12 px-md-0">
                <div class="card">
                    <h5 class="card-header">KM Documents
                        <button class="btn btn-sm btn-primary float-right" (click)="openArticleModal()">Add KM Link</button>
                    </h5>
                    <div class="card-body">
                        <a target="_blank" *ngFor="let article of articles" href="{{article.link}}" class="col-md-6 list-group-item list-group-item-action flex-column align-items-start"
                            style="border: 1px solid #ccc;">
                            <div class="row">
                                <div class="col-md-10" style="padding-right: 0;">
                                    <div class="d-flex w-100 justify-content-between">
                                        <a target="_blank" href="{{article.link}}">
                                            <h5 class="mb-1">{{article.title}}</h5>
                                        </a>
                                    </div>
                                    <div *ngIf="article.category" class="list-icon">
                                        <img *ngIf="article.category =='nodejs'" src="assets/nodejs-logo.jpg" />
                                        <img *ngIf="article.category =='js'" src="assets/js-logo.png" />
                                    </div>
                                    <p class="mb-1">
                                        {{article.description}}
                                    </p>

                                </div>
                                <div class="col-md-2">
                                    <a target="_blank" href="{{article.link}}" class="read-more">
                                        <span class="fa fa-caret-right"></span>
                                        <span class="rm-title">Visit </span>
                                    </a>
                                </div>
                                <div class="col-md-12">
                                    <small>By: {{article.publisherId.name}}</small>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>


                <!--                     <div class="d-flex w-100 justify-content-between card-heading">
                        <h4 class="mb-1">KM References</h4>
                        <button class="btn btn-sm btn-primary" (click)="openArticleModal()">Add KM Link</button>
                    </div>
                    <div class="list-group">
                        <a target="_blank" *ngFor="let article of articles" href="{{article.link}}" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="row">
                                <div class="col-md-10" style="padding-right: 0;">
                                    <div class="d-flex w-100 justify-content-between">
                                        <a target="_blank" href="{{article.link}}">
                                            <h5 class="mb-1">{{article.title}}</h5>
                                        </a>
                                    </div>
                                    <div *ngIf="article.category" class="list-icon">
                                        <img *ngIf="article.category =='nodejs'" src="assets/nodejs-logo.jpg" />
                                        <img *ngIf="article.category =='js'" src="assets/js-logo.png" />
                                    </div>
                                    <p class="mb-1">
                                        {{article.description}}
                                    </p>

                                </div>
                                <div class="col-md-2">
                                    <a target="_blank" href="{{article.link}}" class="read-more">
                                        <span class="fa fa-caret-right"></span>
                                        <span class="rm-title">Visit </span>
                                    </a>
                                </div>
                                <div class="col-md-12">
                                    <small>By: {{article.publisherId.name}}</small>
                                </div>
                            </div>
                        </a>

                    </div> -->
            </div>
            <!-- <div class="col-md-6">
                    <div class="d-flex w-100 justify-content-between card-heading">
                        <h4 class="mb-1">Coding Challenge</h4>
                    </div>
                    <div class="list-group">

                        <div *ngFor="let challenge of challenges" class="card">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-md-2">
                                        <img style="width: 45px;" src="assets/bulb.png" />
                                    </div>
                                    <div class="col-md-10">
                                        <h5 class="card-title">{{challenge.statement}}</h5>
                                        <label class="card-subtitle mb-2 text-muted">By: {{challenge.user.name}}</label>
                                        <br>
                                        <a [routerLink]="" class="card-link" (click)="openPostChallengeModal(challenge)">View and take challenge</a>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                    <div class="list-group">
                        <a style="min-height: calc(100vh - 390px);" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="coding-section">
                                <button class="btn btn-primary btn-lg btn-block" (click)="openPostChallengeModal()">Post Challenge</button>
                                <br>
                                <h4 style="margin-top: 10px;text-align: center;">Time Remaining</h4>
                                <div countdownTimer id="cTimer"></div>
                                <br>
                                <br>
                                <img src="assets/coding.png" />
                            </div>
                        </a>
                    </div>
                </div> -->
        <!-- </div> -->
    </main>
    <nav class="col-md-2 d-none d-md-block bg-light sidebar" style="left:auto;right:0;">
        <div class="sidebar-sticky">

            <div class="row" style="margin: 0px;">
                <div class="col" style="padding: 0px;">
                    <div class="user-list">
                        <ul class="list-group" *ngIf="loggedUser.email == 'suchit.kumar@oracle.com'">
                            <li class="list-group-item d-flex justify-content-between align-items-center" style="padding-bottom: 0px;">
                                <h6 class="mb-1">USERS</h6>
                            </li>
                            <li *ngFor="let user of users" class="list-group-item d-flex justify-content-between align-items-center"
                                [routerLink]="['/user', user._id]">
                                <div>
                                    <img class="user-avatar" src="assets/avatar.png" /> {{user.name}}
                                </div>
                                <!-- <span class="badge badge-primary badge-pill gold-coin">{{user.credits}}</span>
                                    <span class="badge badge-primary badge-pill gold-coin" style="background: #86dd15;position:absolute;right: 60px;">{{user.quizScore}}</span> -->
                            </li>
                        </ul>
                        <ul class="list-group" *ngIf="loggedUser.email != 'suchit.kumar@oracle.com'">
                                <li class="list-group-item d-flex justify-content-between align-items-center" style="padding-bottom: 0px;">
                                    <h6 class="mb-1">USERS</h6>
                                </li>
                                <li *ngFor="let user of users" class="list-group-item d-flex justify-content-between align-items-center"
                                    >
                                    <div>
                                        <img class="user-avatar" src="assets/avatar.png" /> {{user.name}}
                                    </div>
                                    <!-- <span class="badge badge-primary badge-pill gold-coin">{{user.credits}}</span>
                                        <span class="badge badge-primary badge-pill gold-coin" style="background: #86dd15;position:absolute;right: 60px;">{{user.quizScore}}</span> -->
                                </li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="full-post animated slideInUp" *ngIf="readPost" id="read-article">
    <i class="far fa-times-circle close" (click)="closeViewPost()"></i>
    <div class="row" style="margin: 0px;">
        <div class="col-md-10 offset-md-1">
            <h2>{{selectedPost.title}}</h2>
            <label>By: {{selectedPost.publisherId.name}}</label>
            <p>{{selectedPost.description}}</p>
            <div [innerHTML]="selectedPost.content | keepHtml"></div>
        </div>
    </div>

</div>