<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">

          <h3 class="card-title d-flex justify-content-between">
            Overview and Analytics
          </h3>
          <div class="row data-grid">
            <div class="col-md-3">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title">Users</h2>
                  <h1>{{data.users}}</h1>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title">Posts</h2>
                  <h1>{{data.posts}}</h1>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title">KM Ref</h2>
                  <h1>{{data.articles}}</h1>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title">Code Challenges</h2>
                  <h1>{{data.challenges}}</h1>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title">Feedbacks</h2>
                  <h1>{{data.feedbacks}}</h1>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title">Sessions</h2>
                  <h1>{{data.sessions}}</h1>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title">Credits</h2>
                  <h1>{{data.credits}}</h1>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title">Quiz Questions</h2>
                  <h1>{{data.questions}}</h1>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="card-deck">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Suchit Kumar</h5>
                  <p class="card-text">Practise Manager</p>
                  <ul>
                    <li>Ideating</li>
                    <li>Planning and mentoring</li>
                    <li>Endorsing and motivating</li>
                  </ul>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Sandeep Kumar</h5>
                  <p class="card-text">Senior Consultant</p>
                  <ul>
                      <li>linux Deployments</li>
                      <li>Database Management</li>
                      <li>Networking</li>
                    </ul>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Priyank Tiwari</h5>
                  <p class="card-text">UX Designer</p>
                  <ul>
                      <li>Poster and flyer Design</li>
                    </ul>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Pradeep Kumar Terli</h5>
                  <p class="card-text">Senior Consultant</p>
                  <ul>
                      <li>Website development</li>
                      <li>TOM application design, architecture and development</li>
                    </ul>
                </div>
              </div>
            </div> -->
        </div>
      </div>
    </div>
  </div>

</div>